---
import Layout from '@/layouts/Layout.astro';

import Experience from '@/components/sections/Experience.astro';
import About from '@/components/sections/About.astro';
import Hero from '@/components/sections/Hero.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';
import KeyboardManager from '@/components/KeyboardManager.astro'
import Education from '@/components/sections/Education.astro';

import { basics } from '@cv'
const {name,layout} = basics
---

<Layout title={`CV de ${name} - ${layout}`}>
<!-- <Layout title={`Curriculum de ${name}`}> -->
	<main>
		<Hero />
		<About />
		<Experience />
		<Education />
		<Skills />
		<!-- <Projects /> -->
	</main>

	<KeyboardManager />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
	@media print {
		main {
			padding: 0 !important; 
			margin: auto !important; 
		}
	}
</style>
