---
    const {title} = Astro.props
---


<section>
    {title && <h2>{title}</h2>}

    <!-- El slot es como un hueco donde va a introduccir la informacion -->
    <slot />
</section>

<style>
    section {
        max-width: 750px;
        margin: 0 auto 25px;
    }

    h2 {
        margin-bottom: 5px;
        font-weight: 600;
        line-height: 1.5;
        font-size: 1.4rem;
    }
</style>